{% extends "../partials/base_users.html" %}

{% load static %}

{% block title %}<title>Cadastro</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/cadastro.css' %}">
{% endblock %}

{% block main %}
    <main>
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo">
        </div>

        <section class="login">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div class="element-form">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="element-form">
                    <label for="email">Email</label>
                    <input type="Email" name="email" id="email" required>
                </div>
                <div class="element-form">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="element-form">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" id="confirm-password" required>
                </div>
                <button class="button-user" type="submit">Criar Conta</button>
                <div class="center column element-links">
                    <a href="{% url 'users:login' %}">Já possui conta? faça o login aqui</a>
                </div>
            </form>
        </section>

    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'js/users/cadastro.js' %}"></script>
{% endblock %}