{% extends "../partials/base.html" %}

{% load static %}

{% block title %}<title>Login</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block main %}
    <main>
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo">
        </div>

        <section class="login">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div class="element-form">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="element-form">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button class="button-user" type="submit">Login</button>
                <div class="center column element-links">
                    <a href="">criar conta</a>
                    <a href="">esqueci minha senha</a>
                </div>
            </form>
        </section>

    </main>
{% endblock %}