{% extends "../partials/base_users.html" %}

{% load static %}

{% block title %}<title>Confirmação do código</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/redefinir_senha.css' %}">
{% endblock %}

{% block main %}
    <main>
        <div class="logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo">
        </div>

        <section class="login">
            <form action="{% url 'users:login' %}" method="post">
                {% csrf_token %}
                <div class="element-form">
                    <label for="number-code">Informe o número enviado por email</label>
                    <input type="Number" name="number-code" id="number-code" required>
                </div>
                <button class="button-user" type="submit">enviar</button>
                <div class="center column element-links">
                    <a href="{% url 'users:login' %}">voltar para o login</a>
                </div>
            </form>
        </section>

    </main>
{% endblock %}

{% block js %}
   
{% endblock %}