{% extends '../partials/base.html' %}
{% load static %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/dashboard/navbar-search.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/dashboard/cards.css' %}">
{% endblock %}

{% block main %}
<div class="box1 dashboard-card">
    <div class="dashboard-card-interno center">
        <div class="card-icon">
            <img src="{% static 'img/dashboard/icons/music_note.svg' %}" alt="">
        </div>
        <h1 class="card-title">Escolha uma musica!</h1>
        <div class="card-search">
            <input type="text" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <p class="card-legenda">Pesquise pelo seu cantor ou banda favorito</p>
    </div>
</div>
<div class="box2 dashboard-card">
    <div class="dashboard-card-interno center">
        <div class="card-icon">
            <img src="{% static 'img/dashboard/icons/check_box.svg' %}" alt="">
        </div>
        <h1 class="card-title">Crie uma nova tarefa!</h1>
        <a class="button-dash" href=""><button>Criar uma nova tarefa</button></a>
    </div>
</div>
<div class="box3 dashboard-card">  
    <div class="dashboard-card-interno">
        <div class="card-longo">
            <div class="card-header">
                <h1>Seu Repertorio</h1>
                <a class="button-dash" href=""><button>visualizar seu repertorio</button></a>
            </div>
            <div class="card-estatisticas-repertorio">
                <div class="card-estatistica">
                    <h1>musicas aprendidas</h1>
                    <div class="circle">
                        <p>10</p>
                    </div>
                </div>
                <div class="card-estatistica">
                    <h1>Tarefas concluidas</h1>
                    <div class="circle">
                        <p>10</p>
                    </div>
                </div>
                <div class="card-estatistica">
                    <h1>Tarefas em aberto</h1>
                    <div class="circle">
                        <p>10</p>
                    </div>
                </div>
                <div class="card-estatistica">
                    <h1>musicas atual</h1>
                    <div class="circle">
                        <img src="{% static 'img/dashboard/perfil.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}
