{% extends '../partials/base.html' %}
{% load static %}

{% block title %}<title>Dashboard</title>{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main/dashboard/navbar-search.css' %}">
{% endblock %}

{% block main %}
   <main>
    <!-- NavBar -->

    <!-- Dashboard -->
    <div>

        <!-- NavBar search -->
        <div class="nav-search">
            <div class="avatar-box center">
                <div class="avatar-box-circle">
                    <img src="{% static 'img/dashboard/perfil.png' %}" alt="avatar">
                </div>
                <h1>nome do usuario</h1>
            </div>
            <div class="nav-search-elements">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="options">
                    <div title="notificações" class="box-icon">
                        <a href=""><img src="{% static 'img/dashboard/icons/Bell.svg' %}" alt=""></a>
                    </div>
                    <div title="sair" class="box-icon">
                        <a href=""><img src="{% static 'img/dashboard/icons/Log out.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cards do dashboard -->
        <!--
        <div class="dashboard-body">
            <div class="dashboard-header">
                <h1>Dashboard</h1>
            </div>
            <div class="dashboard-content">
                <div class="dashboard-content-line1">
                    <div class="dashboard-card">

                    </div>
                    <div class="dashboard-card">

                    </div>
                </div>
                <div class="dashboard-content-line2">
                    <div class="dashboard-card">

                    </div>
                </div>
            </div>
        </div>
        -->
    </div>

    <!-- footer -->
   </main>
{% endblock %}