main{
    display: grid;
    grid-template-columns: 17vw 83vw;
    grid-template-rows: auto;
    grid-template-areas: "navbar container2";
}

.container2{
    grid-area: container2;

    display: grid;
    grid-template-columns: 85vw;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: "nav-search"
                         "dashboard-body";
}

.nav-search{
    grid-area: nav-search;
    border-bottom: 1px solid var(--clara);
    border-left: 1px solid var(--clara);
}

.dashboard-body{
    padding: 60px;
    grid-area: dashboard-body;
    background-color: var(--escura-opacity);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "box1 box2"
                         "box3 box3";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}

.box1{
    grid-area: box1;
}

.box2{
    grid-area: box2;
}

.box3{
    grid-area: box3;
}

.dashboard-card{
    border-radius: 10px;
    box-shadow: var(--box-shadow-sm);
    background-color: var(--escura);
    padding: 20px;
}

.dashboard-card-interno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-family: var(--font-family-primary);
    border: 1px solid var(--clara-escura);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-longo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 30px;
}

.card-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-estatisticas-repertorio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-estatistica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-estatistica > h1{
    font-size: 1.5em;
    font-family: var(--font-family-secundary);
    color: var(--clara-escura);
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid var(--clara);
}

.circle > p {
    font-size: 2.5em;
    font-family: var(--font-family-secundary);
    color: white;
}

@media (max-width: 1366px) {
    
    main{
        font-size: 0.8em;
        grid-template-columns: 17vw 83vw;
        grid-template-rows: 100vh;
        height: auto;
        overflow-y: auto;
    }
    
    .container2{
        grid-template-columns: 85vw;
        grid-template-rows: 10vh 90vh;
    }
    
    .dashboard-body{
        padding: 60px;
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .dashboard-card{
        padding: 20px;
    }

    .dashboard-card-interno{
        padding: 40px;
        gap: 20px;
    }
    
    .card-longo{
        gap: 30px;
    }
    
    .card-estatisticas-repertorio{
        gap: 50px;
    }
    
    .card-estatistica{
        gap: 20px;
    }
    
    .card-estatistica > h1{
        font-size: 1em;
    }
    
    .circle{
        width: 50px;
        height: 50px;
    }
    
    .circle > p {
        font-size: 2em;
    }   
  }
  
