/*NavBar search*/
.nav-search{
    background-color: var(--escura);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family-primary);
    color: var(--clara);
}

.avatar-box > h1{
    font-size: 1.2rem;
    font-weight: 600;
}

.avatar-box-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--escura-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.avatar-box-circle img{
    width: 100%;
    height: 100%;
}

.nav-search-elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-icon{
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}

.box-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.box-icon:first-child{
    margin-right: 40px;
}

.box-icon a > img{
    width: 100%;
    height: 100%;
}